<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button
        class="btn btn-block btn-outline-promary"
        (click)="changeCategory()"
      >
        All
      </button>
      <button
        *ngFor="let cat of categories"
        class="btn btn-block btn-outline-promary"
        [class.active]="cat === selectCateory"
        (click)="changeCategory(cat)"
      >
        {{ cat }}
      </button>
    </div>
    <div class="col-9 p-2">
      <div class="card m-1 p-1 bg-light" *ngFor="let product of products">
        <h4>
          {{ product.name }}
          <span class="badge badge-pill badge-primary float-right">
            {{ product.price | currency: "USD":"symbol":"2.2-2" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">{{ product.description }}</div>
      </div>
    </div>
  </div>
</div>
